<% @creatures.each do |creature|%>
  <p>
    <strong>Name:</strong><%= creature.name%><br>
    <strong>Description:</strong><%= creature.description%>
    <%=button_to "Delete", creature, method: :delete%>
  </p>
<%end%>
