<h1>Creatures</h1>
<hr>
<%@creatures.each do |c|%>
<div class="creature row">
  <p class="col-md-8">
  <strong>Name:</strong><%=c.name%><br>
  <strong>Description:</strong><%=c.description%>
  </p>
  <div class="col-md-4">
    <%=button_to "Delete", c, method: :delete, class: "btn btn-danger delete"%>
    <%=link_to "View", creature_path(c), class: "btn btn-success delete"%>
  </div>
</div>
<%end%>
