<% @creatures.each do |creature|%>
  <p>
    <strong>Name:</strong><%= creature.name%><br>
    <strong>Description:</strong><%= creature.description%><br>
    <%=link_to "Show", creature_path(creature)%>
  </p>
<%end%>
<%=link_to "Add new creature", new_creature_path%>
