/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */
 header{
   height: 40px;
   background: #FFDB00;
 }

 .nav{
   margin-left: 50px;
 }

 .option{
   float:left;
   width: 80px;
   text-align: center;
   height: 40px;
   padding-top: 10px
 }

 .option:hover{
   border-bottom: 4px solid black;
   cursor: pointer;
 }

 .creature{
   border: 1px solid #E8E8E8;
   border-radius: 5px;
   padding-top:7px
 }

 .creature p{
   float: left
 }

 .delete{
   float: right;
 }
